/*footer*/

.footer{
	background: #CEC9C9;
    color: #081148;
    width: 100%;
	padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: normal;
    div{
        width: 100%;
        padding: 1rem;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: normal;
        margin-top: 10px;
        ul{
            list-style: none;
            /*display*/
            display: flex;
            justify-content: center;
            width: 30%;
            li{
                width: 80%;
                img{
                width: 35%;
                color: #081148;
                margin: 0 0.5rem;
                transition: .4s ease;
                transition-property: all;
                transition-duration: 0.4s;
                transition-timing-function: ease;
                transition-delay: 0s;
                }
            }
         }
    }
}
